* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: blue;
    font-size: 14px;
}
a {
    color: #333;
    text-decoration: none;
}

.flex-break {
    flex-basis: 100%;
    height: 0;
}

.fas-hidden {
    opacity: 0;
    max-height: 0;
    transition: all 0.3s ease-in-out;
}
.fas-bold {
    font-weight: 700;
}

/* --------------------------------------------------------------------main grid container */
#fas-grid--container-main {
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: 1fr;
    
    width: 100vw;
    padding-bottom: 20px;
    margin: 0 auto;
    
    background-color: #fff;
    transition: all 0.3s ease-in-out;
}
/* -------------------------------------------------------------------header grid container */
#fas-grid--header {
    width: 100%;
    height: 200px;
    background-color: #333;
    margin-bottom: 20px;

    display: flex;
    flex-wrap: wrap;
    place-content: center center;
    position: relative;
    background-image: url("https://cdn.shopify.com/s/files/1/1921/1117/files/OurStory-Banner-dark-skinner-min.png?v=1681326470");
    background-repeat: no-repeat;
    background-position: top left;
    height: 20vh;
}
#fas-grid--header::before {
    background-image: linear-gradient(to top right, #1a1a1a, transparent);
    content: "";
    height: 20vh;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
#fas-header--headline {
    font-family: Gilroy,Avenir Next Rounded,Helvetica Neue,Helvetica,Arial;
    font-size: 48px; 
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.15em;
    color: #fff;
    -webkit-filter: drop-shadow(0px 3px 2px #000);
    filter: drop-shadow(0px 3px 2px #000);
}
#fas-header--searchbar {
    display: flex;
    flex-flow: row wrap;
    align-items: baseline;
    justify-content: center;

    position: relative;
    width: auto;
    height: fit-content;

    margin: 10px;
    z-index: 99;
}
#fas-header--searchbar-input {
    width: 200px;
    height: auto;
    min-height: 35px;
    vertical-align: middle;
    font-family: Gilroy,Avenir Next Rounded,Helvetica Neue,Helvetica,Arial;
    font-size: 18px;
    font-weight: 400;
    border-radius: 16px;
    background-color: #fff;
    display: inline;
    margin: 0 auto; 
    padding-bottom: 1px;

}
#fas-header--searchbar-icon {
    background-image: url('https://cdn.shopify.com/s/files/1/1921/1117/files/search-icon2.png?v=1677698308');
    background-repeat: no-repeat;
    background-position: center center;
    position: absolute;
    top: 7px;
    right: 10px;
    width: 25px;
    height: 25px;
    outline: 0;
    cursor: pointer;
}
/* ------------------------------------------------------------------subhead grid container */
#fas-grid--subheader {
    width: 80%;
    height: fit-content;
    margin: 0 auto;
    margin-bottom: 20px;
}
#fas-subheader--logo {
    z-index: 5;
    height: auto;
    width: 30%;
    margin: 30px auto;
	transition: 0.3s ease;
	opacity: 1;
    text-align: center;
}
#fas-subheader--text {
    z-index: 4;
    height: auto;
    width: 50%;
    margin: 30px auto;
	transition: 0.3s ease;
	opacity: 1;
    text-align: center;
}
/* --------------------------------------------------------------------data grid container */
#fas-grid--data {
    width: 70%;
    height: fit-content;
    background-color: aquamarine;
    margin: 0 auto;
}
.state-container {
    display: flex;
    flex-wrap: wrap;
    width: 100% !important;
    max-height: 4000px;
    opacity: 1;
    transition: all 0.3s ease-in-out;
}
.state-header {
    color: #333;
    flex-basis: 100%;
    margin: 0;
    padding: 10px;
    letter-spacing: 4px !important;
}
.state-card-drawer {
    background-color: chartreuse;
    display: flex;
    flex-wrap: wrap;
    max-height: 500px;
    width: 100% !important;
    transition: all 0.3s ease-in-out;
}
/* --------------------------------------------------------------------store cards */
.store-card-profile {
    background-color: #fff;
    width: 215px;
    border-radius: 0.25rem;
    margin: 10px;
    cursor: pointer;
    opacity: 1;
    transition: 0.2s ease-in;
    z-index: 1000;
}
.fas-store-phone {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 14px;
}
.store-phone {
    pointer-events: auto !important;
    display: inline-block;
}
.store-phone::after {
    content: '';
    width: 0%;
    height: 2px;
    display: block;
    background-color: white;
	transition: width 0.3s cubic-bezier(.5, .24, 0, 1);
}
.store-phone:hover::after {
    width: 100%;
}
.fas-store-address {
    min-width: 100%;
    line-height: 1.5em;
    margin-bottom: 10px;
}
.store-address {
    min-width: 100%;
    line-height: 1.5em;
    margin-bottom: -5px;
    letter-spacing: 0.05em;
}
.store-address2 {
    min-width: 100%;
    line-height: 1.5em;
    margin-bottom: 10px;
    letter-spacing: 0.05em;
}
.fas-store-email {
    min-width: 100%;
    pointer-events: auto !important;
}
/* --------------------------------------------------------------------accordion controls */
.fas-accordion-wrapper {
    display: flex;
    overflow: hidden;
  }
  .fas-accordion-wrapper:after {
    content: '';
    height: 50px;
    transition: height 0.2s linear, max-height 0s 0.2s linear;
    max-height: 0px;
  }
  .fas-accordion {
    transition: margin-bottom 0.2s cubic-bezier(0, 0, 0, 1);
    margin-bottom: 0;
    max-height: 10000px;
  }
  .fas-accordion-wrapper.fas-collapsed > .fas-accordion {
    margin-bottom: -1000px;
    transition: margin-bottom 0.2s cubic-bezier(1, 0, 1, 1),
                visibility 0s 0.2s, max-height 0s 0.2s;
    visibility: hidden;
    max-height: 0;
  }
  .fas-accordion-wrapper.fas-collapsed:after
  {
    height: 0;
    transition: height 0.2s linear;
    max-height: 50px;
  }

 /* --------------------------------------------------------------------------media queries */ 

 @media only screen and (max-width: 1500px) {
    #fas-header--headline {
        font-size: 36px; 
    }
    #fas-grid--data {
        width: 80%;
    }
    #fas-subheader--logo {
        width: 40%;
    }
 }
 @media only screen and (max-width: 1024px) {
    #fas-header--headline {
        font-size: 36px; 
    }
    #fas-grid--data {
        width: 90%;
    }
    #fas-subheader--logo {
        width: 60%;
    }
 }
 @media only screen and (max-width: 799px) {
    #fas-header--headline {
        font-size: 36px; 
    }
    #fas-grid--data {
        width: 100%;
    }
    #fas-subheader--logo {
        width: 70%;
    }
 }
 @media only screen and (max-width: 425px) {
    #fas-header--headline {
        font-size: 28px; 
    }
    #fas-subheader--logo {
        width: 90%;
    }
    .store-card-profile {
        width: 44%;
    }
 }