* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: blue;
}
a {
    text-decoration: none;
}

.flex-break {
    flex-basis: 100%;
    height: 0;
}

/* --------------------------------------------------------------------main grid container */
#fas-grid--container-main {
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: 1fr;
    
    width: 100vw;
    padding-bottom: 20px;
    margin: 0 auto;
    
    background-color: #fff;
}
/* -------------------------------------------------------------------header grid container */
#fas-grid--header {
    width: 100%;
    height: 200px;
    background-color: #333;
    margin-bottom: 20px;

    display: flex;
    flex-wrap: wrap;
    place-content: center center;
    position: relative;
    background-image: url("https://cdn.shopify.com/s/files/1/1921/1117/files/OurStory-Banner-dark-skinner-min.png?v=1681326470");
    background-repeat: no-repeat;
    background-position: top left;
    height: 20vh;
}
#fas-grid--header::before {
    background-image: linear-gradient(to top right, #1a1a1a, transparent);
    content: "";
    height: 20vh;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
#fas-header--headline {
    font-family: Gilroy,Avenir Next Rounded,Helvetica Neue,Helvetica,Arial;
    font-size: 48px; 
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.15em;
    color: #fff;
    -webkit-filter: drop-shadow(0px 3px 2px #000);
    filter: drop-shadow(0px 3px 2px #000);
}
#fas-header--searchbar {
    display: flex;
    flex-flow: row wrap;
    align-items: baseline;
    justify-content: center;

    position: relative;
    width: auto;
    height: fit-content;

    margin: 10px;
    z-index: 99;
}
#fas-header--searchbar-input {
    width: 200px;
    height: auto;
    min-height: 35px;
    vertical-align: middle;
    font-family: Gilroy,Avenir Next Rounded,Helvetica Neue,Helvetica,Arial;
    font-size: 18px;
    font-weight: 400;
    border-radius: 16px;
    background-color: #fff;
    display: inline;
    margin: 0 auto; 
    padding-bottom: 1px;

}
#fas-header--searchbar-icon {
    background-image: url('https://cdn.shopify.com/s/files/1/1921/1117/files/search-icon2.png?v=1677698308');
    background-repeat: no-repeat;
    background-position: center center;
    position: absolute;
    top: 7px;
    right: 10px;
    width: 25px;
    height: 25px;
    outline: 0;
    cursor: pointer;
}
/* ------------------------------------------------------------------subhead grid container */
#fas-grid--subheader {
    width: 80%;
    height: fit-content;
    margin: 0 auto;
    margin-bottom: 20px;
}
#fas-subheader--logo {
    z-index: 5;
    height: auto;
    width: 30%;
    margin: 30px auto;
	transition: 0.3s ease;
	opacity: 1;
    text-align: center;
}
#fas-subheader--text {
    z-index: 4;
    height: auto;
    width: 50%;
    margin: 30px auto;
	transition: 0.3s ease;
	opacity: 1;
    text-align: center;
}
/* --------------------------------------------------------------------data grid container */
#fas-grid--data {
    width: 90%;
    height: fit-content;
    background-color: aquamarine;
    margin: 0 auto;
}
.state-container {
    display: flex;
    flex-wrap: wrap;
    width: 100% !important;
    opacity: 1;
    transition: 0.3s ease-in-out;
}
.state-header {
    color: #333;
    flex-basis: 100%;
    margin: 0 20px 0;
    letter-spacing: 4px !important;
}
.card-store-profile {
    background-color: #fff;
    width: 215px;
    border-radius: 0.25rem;
    margin: 10px;
    cursor: pointer;
    opacity: 1;
    transition: 0.2s ease-in;
    z-index: 1000;
}
